/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto:wght@700&family=Work+Sans:wght@400;600;700&display=swap');

*{
    font-family: 'Work Sans';
    font-style: normal;
}
.heading{
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
}
.btn-app{
    background-color: #EB5757;
    border: none;
    font-size: 20px;
    line-height: 23px;
    margin: auto;
    margin-bottom: 40px;
    padding: 20px 15px;
    border-radius: 15px;
}
.btn-app:hover{
    background-color: #e23333;
}

.calendar{
    color: gray;
    font-weight: 600;
}
.arrow{
    color: #EB5757;
    background-color: #FEF7F7;
    padding: 20px;
}
.app-des{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #111111;
}
.modal-left{
    
}