/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto:wght@700&family=Work+Sans:wght@400;600;700&display=swap');

*{
    font-family: 'Work Sans';
    font-style: normal;
}
.heading{
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
}
.btn-app{
    background-color: #EB5757;
    border: none !important;
    font-size: 20px;
    line-height: 23px;
    margin: auto;
    margin-bottom: 40px;
    padding: 20px 15px;
    border-radius: 15px;
}
.btn-app:hover{
    background-color: #e23333;
}

.calendar{
    color: gray;
    font-weight: 600;
}
.arrow{
    color: #EB5757;
    background-color: #FEF7F7;
    padding: 20px;
}
.app-des{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #111111;
}
.modal-left{
    border: 1px solid red;
    border-radius: 5px;
    background-color: #fbdcdc;
    padding: 10px;
}
.basic, .pro, .contact{
    font-size: 12px;
    margin-right: 5px;
    background-color: white;
    border-radius: 5px;
}

.int-head, .input{
    font-size: 16px;
    font-weight: 600;
}
.basic.text-success p {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn-mod{
    color: red !important; 
}

.modal-left{
    width: 55%;
}
.card-wrapper{
    position: relative;
}
p.accuracy {
    position: absolute;
    bottom: 85px;
    color: white;
    background-color: rgb(252, 79, 79);
    border-radius: 5px;    
    padding: 5px 10px;
    left: 77px;
}

.text{
    font-size: 14px;
}